apiVersion: v1
kind: ConfigMap
metadata:
  name: '{{ keycloak_secret_name }}'
  namespace: {{ namespace }}
  labels:
    mobile: enabled
    serviceName: keycloak
data:
  type: keycloak
  realm: {{namespace}}
  name: keycloak
  uri: {{ keycloak_protocol }}://{{ keycloak_route.stdout }}
  bearer_client_id: {{ generated_username.stdout }}-bearer
  bearer_client_secret: {{ generated_password.stdout }}
  bearer_installation: "{{ installationbearer | regex_replace('(u\'|\')', '\\\"') | replace(': True', ': true') }}"
  public_client_id: {{ generated_username.stdout }}
  public_client_secret: {{ generated_password.stdout }}
  public_installation: "{{ installation | regex_replace('(u\'|\')', '\\\"') | replace(': True', ': true') }}"

